<nav class="bg-gradient-to-r from-purple-500 via-blue-500 to-green-500 p-4">
    <div class="flex items-center justify-between">
        <div class="text-white font-bold text-xl">Play & Win</div>
        <ul class="flex space-x-4">
            <li><a routerLink="" class="text-white hover:text-gray-300">Inicio</a></li>
            <li><a routerLink="dash" class="text-white hover:text-gray-300">Dashboard</a></li>
            <li><a routerLink="sales" class="text-white hover:text-gray-300">Ventas</a></li>
        </ul>
    </div>
</nav>
